body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  line-height: 1.5;
  margin: 0;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
html,
body {
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.link {
  text-decoration: none;
  color: var(--navy-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a {
  text-decoration: none;
  color: var(--navy-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--ocean);
}

img {
  display: block;
}

/*defult-stles*/

.text {
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
}
.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.sub-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Header*/
.header {
  display: flex;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .header {
    padding: 16px 0;
  }
}
.header-container {
  background-color: var(--white);
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--ocean);
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 76px;
  }
}
.logo-1 {
  color: var(--navy-blue);
}
@media only screen and (max-width: 767.98px) {
  .nav-list {
    flex-grow: 1;
  }
  .logo {
    margin-right: auto;
  }
}
.menu-button-icon {
  fill: var(--navy-blue);
}
.mobile-menu-button {
  border: none;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: auto;
}
@media (min-width: 767.98px) {
  .mobile-menu-button {
    display: none;
  }
}
.navigation {
  align-items: center;
}
nav {
  display: flex;
}
.nav-list {
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-active {
  color: var(--ocean);
}
.nav-active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}
.contacts {
  font-weight: 400;
  font-style: normal;
  color: var(--slate);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}
.contacts-list {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .contacts,
  .nav-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .contacts_info {
    padding: 0;
  }
  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }
  .contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 0;
  }
}
/*mobile-menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;

  background-color: #ffffff;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.close-button-white {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-white:active {
  background-color: var(--ocean);
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.nav-active {
  color: var(--ocean);
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
}

.mobile-menu-contacts-item:first-child .mobile-menu-contacts-link {
  color: var(--ocean);
}
.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu .social-list {
  gap: 40px;
  justify-content: flex-start;
}

/*Hero*/
.title-section {
  width: 100%;
  background-color: var(--navy-blue);

  margin: 0 auto;
  padding: 72px 0;
}
@media only screen and (min-width: 768px) {
  .title-section {
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .title-section {
    padding: 188px 0;
  }
}
.hero-cont {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-cont {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-x2.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero-cont {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-cont {
      max-width: 768px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-x2.jpg);
    }
  }
}
@media only screen and (min-width: 1158px) {
  .hero-cont {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
    padding: 188px 0;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-cont {
      width: 100%;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-x2.jpg);
      padding: 188px 0;
    }
  }
}
.title {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  color: var(--white);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
}
/*info*/
.info-section {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.info-container {
  display: flex;
}
.info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .info-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .info-list-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .info-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.social-image {
  display: none;
}
@media (min-width: 1158px) {
  .info-container-image {
    background-color: var(--cloud);
    border-radius: 4px;
    flex-direction: column;
    border: var(--light-slate) solid 1px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}
.info-sub-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .info-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .title {
    text-align: start;
    font-size: 20px;
    font-weight: 500;
  }
}
/* #team section */
.team-section {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .team-section > .container {
    padding: 0 28px;
  }
}

.team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  display: block;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 1158px) {
  .team-content {
    width: calc((100% - 72px) / 4);
  }
}
.team-img {
  box-sizing: border-box;
}
.team-text-container {
  padding-bottom: 32px;
}
.team-sub-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-image {
  fill: var(--white);
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--ocean);
}

/*portfolio section*/

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.portfolio-image {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .portfolio-image {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-image {
    width: 360px;
  }
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  background-color: var(--white);
}
.portfolio-content {
  width: 100%;
  background-color: var(--white);
  border: var(--cornflower);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-portfolio-container {
  position: relative;
  overflow: hidden;
}
.portfolio-content:hover .layout,
.portfolio-content:focus .layout {
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .portfolio-content {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-content {
    width: calc((100% - 72px) / 3);
  }
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
@media only screen and (min-width: 1158px) {
  .portfolio-content:hover,
  .portfolio-content:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/*Footer*/
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    justify-content: center;
    padding: 0;
  }
}
.footer-container-text {
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-one {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-container-text {
    text-align: start;
  }
  .footer-social {
    margin-bottom: auto;
  }
  .subscribe {
    margin-right: auto;
  }
  .social-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container-text {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: 0px;
  }
  .subscribe {
    margin: 0 0 auto auto;
  }
}
.social-container {
  margin-right: 80px;
}
.footer-social-list {
  gap: 16px;
  flex-wrap: nowrap;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}
.social-item-footer {
  display: flex;
}
.white-accent-text {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.subscribe-text {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-input {
  border: 1px solid var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--green);
}
.footer-button {
  padding: 8px 24px;
  color: var(--white);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-button:hover {
  background-color: var(--green);
}
.frame-image {
  fill: var(--white);
  margin-left: 16px;
}
/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 288px;
  max-height: 80%;
  min-height: 623px;
  overflow-y: hidden;
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.close-icon {
  fill: var(--navy-blue);
}
.close-button {
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
  border: none;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--white);
}
.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.form-input-container {
  margin-bottom: 8px;
}
.input-container {
  position: relative;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  bottom: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}
.comment-container {
  margin-bottom: 16px;
}
.modal-comment {
  height: 120px;
  width: 100%;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon {
  fill: var(--iris);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--iris);
}
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--iris);
}
.checkbox-container {
  margin-bottom: 24px;
  display: flex;
}

.checkbox-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: flex;
  align-items: center;
}
.checkbox {
  min-width: 16px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox-text {
  display: block;
}

.checkbox-input:checked + .checkbox-lable > .checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.form-link {
  color: var(--iris);
  text-decoration: underline;
}
